<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - Rooms</title>
	<link rel="stylesheet" href="./css/roomsStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	
	<script>
		'use strict';
		
		$(() => {
			let socket = io('<%= hostUrl %>/roomsList');//, {transports: ['websocket']});

			socket.on('connect', () => console.log('Connected to server'));

			//Function to update ChatRoom list
			//--------------------------------
				let renderChatRooms = (chatRooms) => {

					//Create the list of rooms
						let listStr = '';
						for(let chat of chatRooms) {
							listStr += `<a href="/chat/${chat.roomID}"><li>${chat.room}</li></a>`;
						}

					//Add the list to the DOM (After clear class).
						$('#roomsListUL').html('').append(listStr);
				}

			//Get chat room list
			//------------------
				//Request chat room list
					socket.emit('getChatRooms');

				//get chat room lit
					socket.on('chatRoomsList', (datas) => { renderChatRooms(JSON.parse(datas))});

			//Create new room btn
			//-------------------
				let newRoomInput = $("input[name='roomName']");
				$('#createBtn').on('click', () => {
					//If there is a title
					if(newRoomInput.val() !== '') {
						socket.emit('CreateNewRoom', newRoomInput.val());
						newRoomInput.val('');
					}

				});

		});	

	</script>

</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | Select or Create a Chatroom</h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%= user.ProfilPic %>" alt="<%= user.fullName %>"></div>
			<p class="userName"><%= user.fullName %></p>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="controls">
			<input type="text" name="roomName" placeholder="Create a new Chatroom">
			<a href="#" id="createBtn">Create</a>
		</div>
		<div class="roomsListDiv">
			<ul class="roomsList" id="roomsListUL">
			<!-- Loop list items here -->
				<a href="chatroom.htm"><li>Coffee and Conversations</li></a>
			<!-- Loop ends -->
			</ul>
		</div>
	</div>
</body>
</html>